
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#map {
    height: 100vh;
    width: 100vw;
}


.popup-box {
    width: 600px;
    font-family: sans-serif;
}

.popup-box button {
    margin-top: 5px;
    cursor: pointer;
}

.leaflet-popup-content {
    font-size: 14px !important;
    line-height: 1.5;
}

.leaflet-popup-content button {
    font-size: 18px;
    padding: 6px 12px;
}

.leaflet-popup-content-wrapper {
    padding: 10px;
}

.marker-title {
  background: rgba(255,255,255,0.9);
  border: 1px solid #333;
  border-radius: 20px;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.popup-wrap textarea {
    width: 100%;
    resize: vertical;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 4px;
    box-sizing: border-box;
}
.save-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}

.coords {
    font-size: 12px;
    color: #555;
}
.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.tab-btn.active {
    background: #007bff;
    color: white;
}
.tab-panel { display: none; }
.tab-panel.active { display: block; }


.coords span {
    display: block;
}

.top-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Keeps the button on top of the map layer */
}

.login-button {
    background-color: white;
    padding: 8px 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.login-button:hover {
    background-color: #f4f4f4;
}
.login-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* This ensures it stays above the Leaflet map */
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.history-panel {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000; /* Higher than the map and login-container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The actual box */
.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    padding: 10px;
}

.history-panel.open {
    display: block;
}